#intro h1 {
    color: blue;
    text-align: center;
}

#intro p {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding: 10px;

}

#grid div {
    
    border: dotted 0.5px;
    padding: 20px;
    grid-column: 5px;
    grid-row: 10px;
   
}