#header h1 {
    color: blue;
    text-align: center;
}

#header p {
    text-align: center;
}


.flex-container {
    display: flex;
    justify-content: center;
    
    margin-top: 16px;
    height: 800px;
    padding: 16px;
}

#settings {
    border: 1px solid black;
    width: 300px;
}
.grid-container {
    flex: 1;
    padding-left: 50px;
    
    
    
}
#grid {
    display: inline-grid;
    height: 575px;
    width: 575px;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    

}

#grid div {
    border: 1px solid black;
    background: grey; 
   
}



#settings h2 {
    text-align: center;
}

#settings p {
    text-align: center;
}

#settings button {
    align-items: center;
}